.proerty-card{
    width: 300px;
    height: auto;
    img{
        width: 300px;
        height: auto;;
    }
}

.proerty-card{
    margin-bottom: 20px;
    h5{
        font-weight: 600;
        margin-bottom: 0;
    }
}