.nav-link{
  color: #5a5a5a;
    font-size: 15px;
}

.main-head{
  background-color: #605ca8;
  color: white;
}
svg{
  width: 18px; 
}
body{
  background-color: #ffffff;
}
// .navbar{
//       height: 100vh;
// }
.main-div{
  padding: 0;
}